

body {
    min-height: 100vh;
    background: linear-gradient(
        to right,
        #080a16,
        #300211,
        #080a16,
        #3b0215
    );
    background-size: 300% 150%;

    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;

    animation: change-color 5s ease-in-out infinite;
}


@keyframes change-color {
    0% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


#page-title {
    color: rgb(216, 30, 89);
    font-family: "Fira", monospace;

    margin: 1% 0 5% 1%;
}


#typing-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;

    gap: 5%;
}


#typing-container #timer {
    height: 4%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 1%;
    padding: 0;
}


#typing-container #timer #select-time {
    color: rgb(143, 142, 142);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2cqw;

    background-color: #080a16;
    background-size: 0 10%;
    
    border: 0.05em solid rgb(102, 102, 102);
    border-radius: 0.3em;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;

    width: fit-content;
}

#typing-container #timer #select-time .time-option {
    padding: 8px 16px;
    cursor: pointer;

    border-radius: 0.3em;

    color: #646669;
    font-size: 14px;
    font-weight: 500;
    
    transition: all 0.2s ease;
    user-select: none;
}


#typing-container #timer #select-time .time-option:hover {
    color: rgb(179, 179, 179);
}

#typing-container #timer #select-time .time-option.active {
    color: white;
}


#typing-container #timer #countdown {
    color: rgb(143, 142, 142);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5cqw
}


#text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width : 80%;
    min-height: 50%;
    height: fit-content;
    background: linear-gradient(
        to bottom right,
        rgba(48, 48, 48, 0.508),
        rgba(28, 31, 35, 0.508),
        rgba(14, 16, 20, 0.81),
        rgba(12, 15, 21, 0.67)
    );
    box-shadow: 0 25px 40px 20px hsla(0, 0%, 0%, 0.576);

    border: solid rgb(55, 55, 55) 1px;
    border-radius: 2em;

    padding: 0 2%;
}

#text-box:hover {
    cursor: pointer;
}

#typing-content {
    color      : rgba(179, 178, 178, 0.465);
    font-family: "Fira", monospace;
    font-size  : 3.5cqw;
    text-align : left;
    position   : relative;
}

#cursor {
    position: absolute;
    width: 0.1em;
    background-color: rgb(255, 249, 186);
    margin-left: -0.1em;
    
    transition: left 0.1s ease-out, top 0.05s ease-out;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0.5;}
}